<div class="container">
    <h2>Create User</h2>
    <form (ngSubmit)="create()" [formGroup]="userForm">
      <div class="mb-3">
        <label for="firstname" class="form-label">Firstname :</label>
        <input type="text" id="firstname" name="firstname" class="form-control"  formControlName="firstname"  [(ngModel)]="userForm.value.firstname" required>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="userForm.controls['firstname'].invalid && userForm.controls['firstname'].touched">firstname is required</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email :</label>
        <input type="email" id="email" name="email" class="form-control" formControlName="email" [(ngModel)]="userForm.value.email" required>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched">email is required</div>
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Age :</label>
        <input type="number" id="age" name="age" class="form-control" formControlName="age" [(ngModel)]="userForm.value.age" required>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="userForm.controls['age'].invalid && userForm.controls['age'].touched">age is required</div>
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Lastname :</label>
        <input type="text" id="lastname" name="lastname" class="form-control" formControlName="lastname" [(ngModel)]="userForm.value.lastname" required>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="userForm.controls['lastname'].invalid && userForm.controls['lastname'].touched">lastname is required</div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password :</label>
        <input type="password" id="password" name="password" class="form-control" formControlName="password" [(ngModel)]="userForm.value.password" required>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched">password is required</div>
      </div>
      <div class="mb-3">
        <label for="num" class="form-label">Num :</label>
        <input type="number" id="num" name="num" class="form-control" formControlName="num" [(ngModel)]="userForm.value.num" required>
        <div class="alert alert-danger mt-2" role="alert" *ngIf="userForm.controls['num'].invalid && userForm.controls['num'].touched">num is required</div>
      </div>
      <div class="mb-3">
        <label for="profilImage" class="form-label">profileImage :</label>
        <input type="text" id="profilImage" name="profilImage" class="form-control" formControlName="profilImage" [(ngModel)]="userForm.value.profilImage">
      </div>
      <div class="mb-3">
        <label for="nameOfMaterialAssign" class="form-label">name of material :</label>
        <input type="text" id="nameOfMaterialAssign" name="nameOfMaterialAssign" class="form-control" formControlName="nameOfMaterialAssign" [(ngModel)]="nameOfMaterialAssign">
      </div>
      <button type="submit" class="btn btn-primary"[disabled]="userForm.invalid" *ngIf="isConnected">Create</button>
    </form>

</div>