<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Manage users</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/materials">Materials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isConnected" routerLink="/createUser">Create user</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isConnected" routerLink="/createMaterial">Create material</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!isConnected" (click)="connect()">Se connecter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isConnected" (click)="disconnected()">Se déconnecter</a>
          </li>
        </ul>
      </div>
      <form class="form-inline my-2 my-lg-0 d-flex align-items-center" (ngSubmit)="search()">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchName" [(ngModel)]="searchName">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  