<div class="container">
    <h2>Materials</h2>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>reference</th>
          <th>state</th>
          <th>image</th>
          <th *ngIf="isConnected">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of materials">
            <td>{{ material.id }}</td>
            <td>{{ material.name }}</td>
            <td>{{ material.reference }}</td>
            <td>{{ material.state }}</td>
            <td>{{ material.image }}</td>
            <td *ngIf="isConnected">
                <button class="btn btn-primary m-1" (click)="updateMaterial(material)">Modifier</button>
                <button class="btn btn-danger m-1" (click)="deleteMaterial(material)">Supprimer</button>
            </td>
        </tr>
      </tbody>
    </table>
</div>