<div class="container">
    <h2>Users</h2>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>firstname</th>
          <th>lastname</th>
          <th>email</th>
          <th>age</th>
          <th>num</th>
          <th>Image</th>
          <th>materialAssigned</th>
          <th *ngIf="isConnected">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employe of employes">
            <td>{{ employe.id }}</td>
            <td>{{ employe.firstname }}</td>
            <td>{{ employe.lastname }}</td>
            <td>{{ employe.email }}</td>
            <td>{{ employe.age }}</td>
            <td>{{ employe.num }}</td>
            <td>{{ employe.profilImage }}</td>
            <td>{{ employe.materialAssigned.name }}</td> 
            <td *ngIf="isConnected">
                <button class="btn btn-primary m-1" (click)="updateUser(employe)">Modifier</button>
                <button class="btn btn-danger m-1" (click)="deleteUser(employe)">Supprimer</button>
            </td>
        </tr>
      </tbody>
    </table>
</div>
  