<div class="container">
    <h1>LogIn</h1>
</div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h2 class="card-title text-center">Connexion</h2>
            <form (ngSubmit)="login()" #loginForm="ngForm">
              <div class="mb-3">
                <label for="username" class="form-label">Username :</label>
                <input type="text" id="username" name="username" class="form-control" [(ngModel)]="user.username" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password :</label>
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user.password" required>
              </div>
              <button type="submit" class="btn btn-primary">LogIn</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
  