<div class="container">
    <h2>Create Material</h2>
    <form (ngSubmit)="create()" [formGroup]="materialForm">
        <div class="mb-3">
            <label for="name" class="form-label">Name :</label>
            <input type="text" id="name" name="name" class="form-control" formControlName="name" [(ngModel)]="materialForm.value.name" required>
            <div class="alert alert-danger mt-2" role="alert" *ngIf="materialForm.controls['name'].invalid && materialForm.controls['name'].touched">name is required</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image :</label>
            <input type="text" id="image" name="image" class="form-control" formControlName="image" [(ngModel)]="materialForm.value.image">
        </div>
        <div class="mb-3">
            <label for="state" class="form-label">State :</label>
            <input type="text" id="state" name="state" class="form-control" formControlName="state" [(ngModel)]="materialForm.value.state" required>
            <div class="alert alert-danger mt-2" role="alert" *ngIf="materialForm.controls['state'].invalid && materialForm.controls['state'].touched">state is required</div>
        </div>
        <div class="mb-3">
            <label for="reference" class="form-label">Reference :</label>
            <input type="text" id="reference" name="reference" class="form-control" formControlName="reference" [(ngModel)]="materialForm.value.reference" required>
            <div class="alert alert-danger mt-2" role="alert" *ngIf="materialForm.controls['reference'].invalid && materialForm.controls['reference'].touched">reference is required</div>
        </div>
        <button type="submit" class="btn btn-primary" *ngIf="isConnected">Create</button>
    </form>

</div>