<div class="container">
    <h2>User update</h2>
    <form (ngSubmit)="save()" #modifyForm="ngForm">
      <div class="mb-3">
        <label for="firstname" class="form-label">FirstName :</label>
        <input type="text" id="firstname" name="firstname" class="form-control" [(ngModel)]="employe.firstname" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email :</label>
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="employe.email" required>
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Age :</label>
        <input type="text" id="age" name="age" class="form-control" [(ngModel)]="employe.age" required>
      </div>
      <div class="mb-3">
        <label for="lastname" class="form-label">Lastname :</label>
        <input type="text" id="lastname" name="lastname" class="form-control" [(ngModel)]="employe.lastname" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password :</label>
        <input type="password" id="password" name="password" class="form-control" [(ngModel)]="employe.password" required>
      </div>
      <div class="mb-3">
        <label for="num" class="form-label">Num :</label>
        <input type="text" id="num" name="num" class="form-control" [(ngModel)]="employe.num" required>
      </div>
      <div class="mb-3">
        <label for="profilImage" class="form-label">profileImage :</label>
        <input type="text" id="profilImage" name="profilImage" class="form-control" [(ngModel)]="employe.profilImage" required>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>