<div class="container">
    <h2>Material update</h2>
    <form (ngSubmit)="save()" #modifyForm="ngForm">
      <div class="mb-3">
        <label for="name" class="form-label">Name :</label>
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="material.name" required>
      </div>
      <div class="mb-3">
        <label for="reference" class="form-label">Reference :</label>
        <input type="text" id="reference" name="reference" class="form-control" [(ngModel)]="material.reference" required>
      </div>
      <div class="mb-3">
        <label for="state" class="form-label">State :</label>
        <input type="text" id="state" name="state" class="form-control" [(ngModel)]="material.state" required>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image :</label>
        <input type="text" id="image" name="image" class="form-control" [(ngModel)]="material.image" required>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>